$borderStyle: 1px solid rgba(0, 0, 0, 0.125);

.multiinput {

  &-body {
    width: 100%;
    border: $borderStyle;
  }

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }
  &-elem-add {
    cursor: pointer;
    margin-right: 8px;
  }
  &-elem-remove {
    color: red;
    cursor: pointer;
    text-align: right;
    i {
      margin: 6px 6px 0 0;
    }
  }
  table {

    tr {
      &:not(:last-child) {
        border-bottom: $borderStyle;
      }
      td {
        vertical-align: top;

        input[type="checkbox"] {
          position: absolute;
          z-index: -1;
          opacity: 0;
          margin-left: 20px;
        }
        input[type="checkbox"] + label {
          position: relative;
          padding-left: 25px;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            border: $borderStyle;
            background: #fff;
          }
          &:after {
            content: '';
            position: absolute;
            left: 3px;
            width: 14px;
            height: 6px;
            border-left: 2px solid #000;
            border-bottom: 2px solid #000;
            transform: rotate(-45deg);
            background: #fff;
            //transition: .2s;
            opacity: 0;
          }
        }
        input[type="checkbox"]:checked + label {
          &:after {
            opacity: 1;
          }
        }
        .filemanager-item-message {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #fff;
          border: 1px solid red;
          display: flex;
          align-items: center;
          text-align: center;
          color: red;
        }
      }
    }
  }
}