$borderStyle: 1px solid rgba(0, 0, 0, 0.125);
$alarmColor: #dc3545;

.multiinput {

  &-body {
    width: 100%;
    border: $borderStyle;
  }

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }
  &-elem-add {
    cursor: pointer;
    margin-right: 8px;
  }
  &-elem-clone {
    cursor: pointer;
  }
  &-elem-remove {
    color: $alarmColor;
    cursor: pointer;
    text-align: right;
    i {
      margin: 6px 6px 0 0;
    }
  }
  table {

    tr {
      &:only-child > td.multiinput-elem-actions i.multiinput-elem-remove {
        display: none;
      }
      &:only-child > td.sortable-handle {
        display: none;
      }

      td {
        vertical-align: top;

        input[type="checkbox"] {
          position: absolute;
          z-index: -1;
          opacity: 0;
          margin-left: 20px;
        }
        input[type="checkbox"] + label {
          position: relative;
          padding-left: 25px;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            border: $borderStyle;
            background: #fff;
          }
          &:after {
            content: '';
            position: absolute;
            left: 3px;
            width: 14px;
            height: 6px;
            border-left: 2px solid #000;
            border-bottom: 2px solid #000;
            transform: rotate(-45deg);
            background: #fff;
            opacity: 0;
          }
        }
        input[type="checkbox"]:checked + label {
          &:after {
            opacity: 1;
          }
        }
        .filemanager-item-trans {

          &.new-item {
            .filemanager-item-removable,
            .filemanager-item-addbutton {
              display: none;
            }
            .filemanager-item-message {
              display: flex;
            }
          }

          .filemanager-item-message {
            display: none;
            background-color: #fff;
            border: 1px solid $alarmColor;
            align-items: center;
            text-align: center;
            color: $alarmColor;
          }
        }

        &.multiinput-elem-actions {
          padding: 6px;
        }

        &.sortable-handle {
          cursor: move;
        }
      }
    }
  }
  &-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: $alarmColor;
  }
}